/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/public/system/*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.env

.byebug_history
.DS_Store
**/.DS_Store

config/secrets.yml.key
