%article#intro
  .arrow#arrow
  .blackout#blackout
  %section.section.section--first{ data: { section: 1 } }
    .section__wrapper
      .text.text--intro
        %h2
          %span{ data: { text_first: 1 } } Branding&
          %br
          %span{ data: { text_first: 2 } } Visual Communication
      .text.text--founded
        %div{ data: { text: 1 } } 1,618 is a branding and visual communication studio
        %div{ data: { text: 2 } } founded by Ksenia Smirnova, based in Milan, Italy.
      .text.text--design
        %div{ data: { text: 3 } } We design everything visual, including brand identities,
        %div{ data: { text: 4 } } packaging, websites and mobile apps,
        %div{ data: { text: 5 } } patterns and illustrations.

  %section.section.section--branding{ data: { section: 2 } }
    .section__wrapper
      .text.text--branding
        %h2
          Branding&
          %br
          Identities
  %section.section.section--web-and-mobile{ data: { section: 3 } }
    .section__wrapper
      .text.text--web-and-mobile
        %h2
          Web&Mobile
  %section.section.section--illustration{ data: { section: 4 } }
    .section__wrapper
      .text.text--illustration
        %h2
          ILLUSTRATION

  %section.section.section--quote
    .section__wrapper.section__wrapper--quote
      .text.text--placeholder
        Always in balance between an artistic vision and a market approach, we define our work as scenical decorations tailor-made on the client needs.
      .text.text--typed
        %span> Always in balance between an artistic vision and a market approach
        %span#typed-trigger , we define our work as
        %span#typed
  %section.section.section--clients
    .section__wrapper
      .text.text--clients
        %h2 Clients
  %section.section.section--contact
    .section__wrapper
      .text.text--contact
        %h2 Contact
