%article#intro
  .arrow#arrow
  .blackout#blackout
  %section.section.section--first{ data: { section: 1 } }
    .text.text--first
      %h2
        Branding&
        %br
        Visual Communication
      %p 1,618 is a branding and visual communication studio founded by Ksenia Smirnova, based in Milan, Italy.
      %p We design everything visual, including brand identities, packaging, websites and mobile apps, patterns and illustrations.

  %section.section.section--branding{ data: { section: 2 } }
    .text.text--branding{ data: { text: 1 } }
      %h2
        Branding&
        %br
        Identities
  %section.section.section--web-and-mobile{ data: { section: 3 } }
    .text.text--web-and-mobile{ data: { text: 2 } }
      %h2
        Web&Mobile
  %section.section.section--illustration{ data: { section: 4 } }
    .text.text--illustration{ data: { text: 3 } }
      %h2
        ILLUSTRATION

  %section.section.section--quote
    .quote
      .quote__placeholder
        Always in balance between an artistic vision and a market approach, we define our work as scenical decorations tailor-made on the client needs.
      .quote__typed
        %span> Always in balance between an artistic vision and a market approach
        %span#typed-trigger , we define our work as
        %span#typed
  %section.section.section--clients
    .text.text--clients
      %h2 Clients
  %section.section.section--contact
    .text.text--contact
      %h2 Contact
