$client-grid:              (columns: 3, gutter: 0.5rem)
$client-grid--tablet-only: (columns: 2, gutter: 0.4rem, media: $media--tablet)
$client-grid--mobile-only: (columns: 1, gutter: 0.3rem, media: $media--mobile)

$work-grid:              (columns: 3, gutter: 1rem)
$work-grid--tablet-only: (columns: 2, gutter: 1rem, media: $media--tablet)
$work-grid--mobile-only: (columns: 1, gutter: 1rem, media: $media--mobile)