.logo-1618,
.logo-work
  position: fixed
  z-index: 1000

.logo-1618
  left: 30px
  top: 30px
  width: 8.7vw
  height: 2.8vw
  background: asset-url('icons/logo.svg') no-repeat

.logo-work
  right: 30px
  top: 30px
  width: 9vw
  height: 2.8vw
  background: asset-url('icons/work.svg') no-repeat