.logo-1618,
.logo-work
  position: fixed
  z-index: 1000

.logo-1618
  left: 1.4rem
  top: 1.4rem

  &__root
    display: block
    width: 5.9rem
    height: 2.12rem
    margin-bottom: 0.8rem
    background: asset-url('icons/logo/logo.svg') no-repeat

  &__menu
    opacity: 0
    visibility: hidden
    &__item
      width: 5.9rem
      cursor: pointer
      padding: 0.3rem 0
      .link
        opacity: 0
        transform: translateX(-10px)
        &:before
          opacity: 0
          transition: opacity 0.3s
      &:hover, &:focus
        .link
          &:before
            opacity: 1
            transition: opacity 0.3s

    &--show
      opacity: 1
      visibility: visible
      .logo-1618__menu__item:nth-child(1)
        .link
          transition-delay: 0.035s
      .logo-1618__menu__item:nth-child(2)
        .link
          transition-delay: 0.07s
      .logo-1618__menu__item:nth-child(3)
        .link
          transition-delay: 0.105s
      .logo-1618__menu__item:nth-child(4)
        .link
          transition-delay: 0.14s
      .logo-1618__menu__item:nth-child(5)
        .link
          transition-delay: 0.175s
      .logo-1618__menu__item
        .link
          opacity: 1
          transform: translateX(0)
          transition: opacity 0.35s, transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1)

.logo-work
  right: 1.4rem
  top: 1.4rem
  width: 6.6rem
  height: 2.4rem
  background: asset-url('icons/logo/work.svg') no-repeat
