#intro
  position: relative
  padding-top: 500vh

.arrow
  position: fixed
  z-index: 100
  left: 50%
  bottom: 70px
  width: 50px
  height: 27px
  margin-left: -25px
  opacity: 1
  cursor: pointer
  background: asset-url('icons/arrow_down.svg') no-repeat
  animation: arrow 1s infinite

@keyframes arrow
  0%
    transform: translateY(0)
  50%
    transform: translateY(6px)
  100%
    transform: translateY(0)

.blackout
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 2
  opacity: 0
  background: #000000
  pointer-events: none
  backface-visibility: hidden

.section
  position: relative
  text-align: center
  height: 100vh
  width: 100%
  display: table

  &--first
    top: 0
    height: 200vh
    z-index: 1
    background-color: #dfefdb
    // TODO: потом тут будет фон
    // background-image: asset-url('pages/welcome/1.jpg')
    // background-attachment: fixed
  &--branding
    z-index: 2
    background-image: asset-url('pages/welcome/1.jpg')
  &--web-and-mobile
    z-index: 3
    background-image: asset-url('pages/welcome/2.jpg')
  &--illustration
    z-index: 4
    background-image: asset-url('pages/welcome/3.jpg')
    margin-bottom: 0

  &--first,
  &--branding,
  &--web-and-mobile,
  &--illustration
    background-size: cover
    position: fixed

  &--branding,
  &--web-and-mobile,
  &--illustration,
    top: 100%

  &--quote
    padding-top: 5rem
    padding-left: 6%
    padding-right: 6%
    text-align: left
    background: linear-gradient(#efefef, #ffe8e8)
  &--clients
    background: linear-gradient(#ffe8e8, #f4e8ff)
  &--contact
    background: linear-gradient(#f4e8ff, #dfefdb)

  &--quote,
  &--clients,
  &--contact
    z-index: 10

  &__wrapper
    display: table-cell
    vertical-align: middle
    &--quote
      position: relative

.text
  &--branding,
  &--web-and-mobile,
  &--illustration,
  &--quote,
  &--clients,
  &--contact
    color: #ffffff

  &--intro
    h2
      @extend .font-tt-norms
      color: #ffffff
      font-size: 5.5rem
      line-height: 5.5rem
      margin-top: 25vh

  &--founded,
  &--design
    @extend .font-tt-norms
    color: #000000
    font-size: 1.9rem
    line-height: 2.3rem
    letter-spacing: -1px
    div
      opacity: 0.1
      transform: scale(0.99)
  &--founded
    margin-top: 60vh
  &--design
    margin-top: 3rem
    margin-bottom: 30vh

  &--branding
    h2
      @extend .font-bell-mt
      font-size: 8.4rem
      line-height: 7.4rem

  &--web-and-mobile
    h2
      @extend .font-tt-norms
      font-size: 6.1rem

  &--illustration
    h2
      @extend .font-engravers
      font-size: 6.1rem

  &--clients
    margin-top: 12rem
    h2
      @extend .font-bell-mt
      font-size: 13.3rem

  &--contact
    h2
      @extend .font-engravers
      font-size: 8.4rem

  &--placeholder,
  &--typed
    @extend .font-tt-norms
    letter-spacing: -1px
    font-size: 5rem

  &--placeholder
    color: transparent
  &--typed
    color: #ffffff
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    span:last-child
      color: #000000

.clients
  +grid-container
  margin-top: 2.4rem
  padding-left: 2%

  &__wrapper
    +grid-collapse

.client
  +grid-column(1, $client-grid)
  +grid-media($client-grid--tablet-only)
    +grid-column(1)
  +grid-media($client-grid--mobile-only)
    +grid-column(1)
  padding-left: 3rem
  padding-top: 1.4rem
  padding-bottom: 1.4rem

  &__title,
  &__work
    @extend .font-tt-norms
    letter-spacing: -1px
    text-align: left

  &__title
    position: relative
    display: block
    font-size: 1.6rem
    margin-bottom: 1rem
    &, &:hover, &:focus
      text-decoration: none
    &:not(:hover)
      color: #000000
      transition: color 1s ease
    &:hover
      color: #ffffff
      transition: color 0.3s ease
    &:after
      position: absolute
      content: ''
      width: 76%
      height: 2px
      left: 0
      bottom: -0.625rem
      background-color: #ffffff
  &__work
    font-size: 0.8rem
