#intro
  position: relative
  padding-top: 600vh

.arrow
  position: fixed
  z-index: 100
  left: 50%
  bottom: 70px
  width: 50px
  height: 27px
  margin-left: -25px
  opacity: 1
  cursor: pointer
  background: asset-url('icons/control/arrow_down.svg') no-repeat
  animation: arrow 1s infinite
  &--hide
    display: none

@keyframes arrow
  0%
    transform: translateY(0)
  50%
    transform: translateY(6px)
  100%
    transform: translateY(0)

.blackout
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 2
  opacity: 0
  background: #000000
  pointer-events: none
  backface-visibility: hidden

.section
  position: relative
  text-align: center
  height: 100vh
  width: 100%
  display: table

  &--first
    top: 0
    z-index: 1
    // TODO: потом тут будет фон
    // background-image: asset-url('pages/welcome/1.jpg')
    // background-attachment: fixed
  &--branding
    z-index: 2
    background-image: asset-url('pages/welcome/1.jpg')
  &--web-and-mobile
    z-index: 3
    background-image: asset-url('pages/welcome/2.jpg')
  &--illustration
    z-index: 4
    background-image: asset-url('pages/welcome/3.jpg')
    margin-bottom: 0

  &--first,
  &--info,
  &--branding,
  &--web-and-mobile,
  &--illustration
    background-size: cover
    background-repeat: no-repeat
    position: fixed

  &--info,
  &--branding,
  &--web-and-mobile,
  &--illustration,
    top: 100%

  &--quote
    padding: 5rem 6%
    text-align: left
    background-color: $background-color
  &--clients
    padding-top: 5rem
    padding-bottom: 5rem
    background-color: $background-color
  &--contact
    padding-top: 5rem
    padding-bottom: 2rem
    background-color: $background-color

  &--quote,
  &--clients,
  &--contact
    z-index: 10

  &__wrapper
    display: table-cell
    vertical-align: middle
    &--quote
      position: relative

.link
  &--section
    span
      @extend .font-tt-norms
      position: relative
      color: #000000
      font-size: 1.4rem
      letter-spacing: -0.5px
      transition: color 0.6s
      &:before
        position: absolute
        content: ''
        bottom: -4px
        left: 0
        width: 100%
        height: 2px
        background-color: #000000
        transition: background-color 0.6s
      &:hover, &:focus
        color: #ffffff
        transition: color 0.3s
        &:before
          background-color: #ffffff
          transition: background-color 0.3s

.text
  &--branding,
  &--web-and-mobile,
  &--illustration,
  &--quote,
  &--clients,
  &--contact
    color: #ffffff

  &--intro
    h2
      @extend .font-tt-norms
      color: #ffffff
      font-size: 5.5rem
      line-height: 5.5rem

  &--founded,
  &--design
    @extend .font-tt-norms
    color: #000000
    font-size: 1.9rem
    line-height: 2.3rem
    letter-spacing: -0.5px
    div
      opacity: 0.1
      transform: scale(0.99)
  &--design
    margin-top: 3rem

  &--branding
    h2
      @extend .font-bell-mt
      font-size: 8.4rem
      line-height: 7.4rem

  &--web-and-mobile
    h2
      @extend .font-tt-norms
      font-size: 6.1rem

  &--illustration
    h2
      @extend .font-engravers
      font-size: 6.1rem

  &--branding,
  &--web-and-mobile,
  &--illustration
    h2
      margin-bottom: 1.5rem

  &--clients
    h2
      @extend .font-bell-mt
      font-size: 13.3rem

  &--contact
    h2
      @extend .font-engravers
      font-size: 8.4rem
    &__vcard
      text-align: left
      padding-left: 10%
      padding-right: 10%
    &__mail-us,
    &__mail,
    &__info
      @extend .font-tt-norms
      color: #000000
      letter-spacing: -0.5px
    &__mail-us,
    &__mail
      font-size: 3.6rem
      line-height: 3.6rem
    &__mail-us
      margin-top: 2.4rem
      margin-bottom: 0
    &__mail
      position: relative
      display: inline-block
      margin-bottom: 1.6rem
      padding-bottom: 0.8rem
      cursor: pointer
      transition: color 0.6s
      &:before
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 3px
        background-color: #ffffff
      &:hover, &:focus
        color: #ffffff
        transition: color 0.3s
    &__tel
      &, &:hover, &:focus
        color: #000000
    &__info
      font-size: 1rem
      line-height: 1.26rem

  &--placeholder,
  &--typed
    @extend .font-tt-norms
    letter-spacing: -0.5px
    font-size: 5rem

  &--placeholder
    color: transparent
  &--typed
    color: #ffffff
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    span:last-child
      color: #000000

.clients
  +grid-container
  padding-left: 3%

.client
  +grid-column(1, $client-grid)
  +grid-media($client-grid--tablet-only)
    +grid-column(1)
  +grid-media($client-grid--mobile-only)
    +grid-column(1)
  padding-left: 3rem
  padding-top: 1.4rem
  padding-bottom: 1.4rem

  &__title,
  &__work
    @extend .font-tt-norms
    letter-spacing: -0.5px
    text-align: left

  &__title
    position: relative
    display: block
    font-size: 1.6rem
    margin-bottom: 1rem
    &:not(:hover)
      color: #000000
      transition: color 1s ease
    &:hover, &:focus
      color: #ffffff
      transition: color 0.3s ease
    &:after
      position: absolute
      content: ''
      width: 76%
      height: 2px
      left: 0
      bottom: -0.625rem
      background-color: #ffffff
  &__work
    font-size: 0.8rem
