.work
  min-height: 100vh

  &__imgs
  &__img
    width: 100%
    height: auto

  &__content-wrapper
    padding: 0rem 12%

  &__title,
  &__text,
  &__link,
  &__year,
  &__related
    @extend %font-tt-norms

  &__title
    @extend %size-title-project-2
    margin-top: 5.56rem

  &__text
    @extend %size-text-0
    width: 68%
    margin-top: 1.2rem
    padding-top: 2.22rem
    border-top: 3px solid $color--text-second
    letter-spacing: -0.4px

  &__link
    @extend %size-text-0
    margin-top: 2.22rem
    letter-spacing: -0.4px
  &__tags
    margin-top: 1.67rem
    .link
      margin-right: 2rem

  &__year
    margin-top: 1.67rem
    letter-spacing: -0.4px

  &__related-wrapper
    padding: 0rem 1.4rem

  &__related
    @extend %size-title-project-2
    text-align: left
    margin-top: 5.56rem
    margin-bottom: 0
    padding-left: 12%
    color: $color--text-second
