html.not-scroll
  &, body
    overflow: hidden
    position: relative
    height: 100%

body
  background-color: $color--background

h2
  font-weight: normal

a
  &, &:hover, &:focus
    color: $color--text-first
    text-decoration: none

body::-webkit-scrollbar
  width: 0.4rem

body::-webkit-scrollbar-track
  background-color: $color--background

body::-webkit-scrollbar-thumb
  background-color: $color--first

main
  position: relative
  overflow-x: hidden
