html,
body
  height: 100%
  overflow:hidden

body
  overflow-x: hidden
  background-color: $background-color

h2
  font-weight: normal

a
  &, &:hover, &:focus
    color: #000000
    text-decoration: none

.main
  position: relative