body
  font-size: 18px
  font-family: -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
