// Visibility
.hidden
  display: none !important

.visible
  display: initial !important

.hidden--mobile
  display: initial !important
  +media-only(mobile)
    display: none !important

.visible--mobile
  display: none !important
  +media-only(mobile)
    display: initial !important
