// Visibility
.hidden
  display: none

.visible
  display: block

.hidden--mobile
  +media-not(mobile)
    display: initial
  +media-only(mobile)
    display: none !important

.visible--mobile
  +media-not(mobile)
    display: none !important
  +media-only(mobile)
    display: initial
